[submodule "ansible/roles/correlate.localdev"]
	path = ansible/roles/correlate.localdev
	url = https://github.com/OpenCorrelate/correlate.localdev.git
[submodule "ansible/roles/correlate.homebrew"]
	path = ansible/roles/correlate.homebrew
	url = https://github.com/OpenCorrelate/correlate.homebrew.git
